body {
	display: flex;
	height: 100%;
	margin: 0px;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-around;
	background-color: #303030;
	font-size: 1em;
	color: white;
	font-family: "Arial", Arial, sans-serif;
	
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari*/
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
								  
	cursor: default;
}
p.title {
	margin: 8px;
	font-size: 4em;
	color: rgb(32,192,32);
}
p.heading {
	margin: 8px;
	font-size: 2em;
	color: rgb(32,128,32);
}
p {
	margin: 0px;
	text-align: center;
	height: auto;
}
/*UI*/
#destList {
	font-size: inherit;
	margin: 8px;
}
#stationName {
	text-shadow: 1px 1px 2px black;
}
#travelerID {
	font-size: 0.5em;
	font-weight: bold;
	color: yellow;
	text-shadow: -2px -2px 0px rgb, 2px 2px 0px gray;
}
#confirm {
	padding: 8px;
	font-size: 4em;
	color: black;
	background-color: rgba(255,165,0,0.95);
	border: 2px solid black;
	flex-direction: column;
	text-align: center;
	border-radius: 16px;
	display: none;
}
/*timer UI*/
div.timer {
	display: flex;
	flex-direction: row;
	align-items: center;
}
div.timer__btn {
	text-align: center;
	font-size: 2em;
	border-radius: 0.5em;
	border: 2px outset silver;
	padding: 0.125em;
}
#timerTime {
	font-size: 3em;
	margin: 8px;
}
/*UI items*/
#stationList {
	box-sizing: border-box;
	width: 100%;
}

#travelerSearchBox {
	width: 100%;
}
#itemSelect {
	width: 100%;
	text-align: center;
}
#blackout {
	font-size: 2em;
}
#completeItemBtn {
	flex-grow: 2;
}
#scrapItemBtn {
	flex-grow: 2;
}
#submitTravelerBtn {
	flex-grow: 2;
}
/*Organizational divs*/
div.header {
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: center;
}
div.body {
	
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: space-around;
	flex-wrap: wrap;
}
div.interfaceContainer {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 80%;
	height: 50%;
	border: 4px inset gray;
	background-color: #202020;
}
div.viewContainer {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 50%;
	border: 4px inset gray;
	background-color: #202020;
	overflow: auto;
}
div.queue {
	box-sizing: border-box;
	display: flex;
	flex-direction: column-reverse;
	border-top: 4px inset gray;
	background-color: #202020;
	overflow: auto;
	width: 100%;
	height: 100%;
	
}
div.queueContainer {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	
	border: 4px inset gray;
	background-color: #404040;
	overflow: auto;
	width: 20%;
	height: 50%;
}
div.footer {
	display: flex;
	width: 100%;
	justify-content: center;
}
div.flank {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 4px inset gray;
	background-color: #404040;
	overflow: auto;
	height: 100%;
}
#finalizeContainer {
	padding: 8px;
	font-size: 4em;
	color: black;
	background-color: rgba(255,165,0,0.95);
	border: 2px solid black;
	display: none;
	flex-direction: column;
	text-align: center;
	border-radius: 16px;
}
div.qtyRow {
	display: flex;
	flex-direction: row;
	width: 100%;
}

/*Traveler Queue*/

/*Traveler View*/
div.view__header {
	width: 100%;
	color: yellow;
	text-shadow: 1px 1px 2px black;
	text-align: center;
	font-size: 3em;
}
table.view {
	width: 100%;
	font-size: 2em;
	border: 2px solid darkGray;
	border-collapse: collapse;
}
tr.view__row {
	font-size: 1.5em;
}
tr.view__row--header {
	text-align: center;
	border: none;
}

td.view__item {
	border: inherit;
	padding: 0.25em;
	border: 2px solid darkGray;
}
td.view__item--null {
	background-color: dimGray;
}
