p {
	display: inline-block;
}
/* Style The Dropdown Button */
.dropdown__btn {
    
	text-align: center;
    cursor: pointer;
	padding-top: 0.125em;
	padding-bottom: 0.125em;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}
input {
	font-size: 1em;
}
select {
	font-size: 1em;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
	display: inline-block;
	text-align: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown__content {
    display: none;
	font-size: 0.5em;
	position: absolute;
	width: 20%;
	left: 40%;
    background-color: #f9f9f9;
	max-height: 75%;
	overflow-y: scroll;
	text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Checkboxes */
input[type=checkbox] {
  transform: scale(2);
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown__content {
    display: block;
}
.dropdown__item {
	display: block;
	background-color: #202020;
	color: white;
	padding: 16px;
}
.dropdown__item:hover {
	background-color: silver;
	color: black;
}
.button {
	font-family: Verdana, Geneva, sans-serif;
	
	text-align: center;
	
	border-radius: 8px;
}
div.button:hover, div.button:active, div.selected {
	background-color: silver;
	border-color: white;
	color: black;
	text-shadow: none;
}
.numberBox {
	font-size: inherit;
	margin: 8px;
	width: 30%;
	border: 1px solid grey;
}
.percentBar {
	height: 100%;
	border-radius: 0px 0.25em 0.25em 0px;
	background-color: lime;
}
div.percentContainer {
	display: flex;
	flex-direction: row;
	padding: 8px;
	width: 70%;
}
.list--horizontal {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}
.JSONviewer {
	font-size: 1em;
	text-align: center;
	display: flex;
	flex-direction: column;
	background-color: black;
	border-radius: 16px;
	padding: 8px;
	border: 8px solid white;
}
.JSONviewer__scrollable {
	overflow-y: auto;
	max-height: 200px;
	
}
.JSONviewer__field{
	border-top: 1px solid gray;
	justify-content: space-between;
}
.JSONviewer__back {
	transition-duration: 0.2s;
	background: url("../img/back.png"), linear-gradient(to right, transparent, #4d4d4d, transparent);
	background-repeat: no-repeat;
	background-size: contain;
}
.JSONviewer__back:hover, .JSONviewer__back:active {
	background: url("../img/back.png"), linear-gradient(to right, transparent, gray, transparent);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 30% top;
}
.optionsBtn {
	width: 64px;
	height: 64px;
	display: flex;
	opacity: 0.5
}
.optionsBtn:hover, :active {
	opacity: 1.0;
}

.blackout {
	font-size: 1em;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	background-color: rgba(255,255,255,0.25);
	z-index: 100;
}
.blackout__popup {
	padding: 8px;
	font-size: 2em;
	color: black;
	background-color: rgb(255,165,0);
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	text-align: center;
	border-radius: 16px;
}
/*flex modifiers*/
.justify-space-between {
	justify-content: space-between;
}
/*access modifiers*/
.button.disabled {
	background-color: rgba(230,230,230,0.2);
	border-color: rgba(230,230,230,0.2);
	border-style: inset;
	color: grey;
	pointer-events: none;
}
.hidden {
	display: none;
}
/*color modifiers*/
.red {
	color: #FF0000;
}
.white {
	color: white;
}
.beige {
	color: #e9e9af;
}
.black {
	color: black;
}
.blue {
	color: blue;
}
.cyan {
	color: cyan;
}
.green {
	color: green;
}
.yellow {
	color: yellow;
}
.orange {
	color: orange;
}
.red {
	color: red;
}
.purple {
	color: purple;
}

.whiteBack {
	background-color: whitesmoke;
	border: 2px outset white;
}
.blackBack {
	background-color: black;
	border-top: 2px solid #202020;
	border-left: 2px solid #202020;
}
.ghostBack {
	background-color: rgba(128,128,128,0.25);
	border: 2px outset rgba(128,128,128,0.25);
}
.blueBack {
	background-color: blue;
	border: 2px outset darkblue;
	border-top-color: RoyalBlue;
	border-left-color: RoyalBlue;
}
.cyanBack {
	background-color: cyan;
	border: 2px outset LightSeaGreen;
	border-top-color: PaleTurquoise;
	border-left-color: PaleTurquoise;
}
.greenBack {
	background-color: green;
	border: 2px outset green;
	border-top-color: limegreen;
	border-left-color: limegreen;
}
.yellowBack {
	background-color: yellow;
	border: 2px outset darkkhaki;
	border-top-color: LightYellow;
	border-left-color: LightYellow;
}
.orangeBack {
	background-color: orange;
	border: 2px outset orange;
	border-top-color: LightOrange;
	border-left-color: LightOrange;
}
.redBack {
	background-color: red;
	border: 2px outset maroon;
	border-top-color: IndianRed;
	border-left-color: IndianRed;
}
.purpleBack {
	background-color: purple;
	border: 2px outset indigo;
	border-top-color: violet;
	border-left-color: violet;
}

/* color themes */
.dark {
	background-color: #202020;
	border: 2px outset #303030;
	color: white;
}
.darkAero {
	background: linear-gradient(to right, transparent, #4d4d4d, transparent);
    color: white;
}
.darkAero:hover, .darkAero:focus {
	background: linear-gradient(to right, transparent, gray, transparent);
}

/* font */
.halfEM {
	font-size: 0.5em;
}
.oneEM {
	font-size: 1em;
}
.twoEM {
	font-size: 2em;
}
.threeEM {
	font-size: 3em;
}
.fourEM {
	font-size: 4em;
}
.center {
	text-align: center;
}
.shadow {
	text-shadow: 1px 1px 1px black;
}
.glow {
	text-shadow: 0px 0px 16px white;
}
.italics {
	font-style: italic;
}
.retro {
	color: #d7ceb2;
	text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
	font: 80px 'BazarMedium';
	font-style: bold;
	letter-spacing: 10px;
}
.three-d {
	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
	font: 80px 'ChunkFiveRegular';
}
.heading {
	font-size: 1.5em;
	font-style: bold;
	color: #101010;
	font-weight: bold;
	text-shadow: 1px 1px 0px grey;
	

}
/* margins */
.stdMargin, .button {
	margin: 4px;
	padding: 4px;
}
.noPadding {
	padding: 0px;
}
div.queue__item {
	transition-duration: 0.25s;

	font-family: "Arial Black", Gadget, sans-serif;
	text-align: center;
	text-shadow: 0px 0px 5px black;
	
	margin: 0px;
	padding: 2px;
	
	
	color: white;
	text-shadow: 0px 0px 15px black, 0px 0px 15px black;
	
	border-width: 3px;
	border-radius: 6px;
}
div.queue__item__desc {
	color: white;
	text-shadow: 1px 1px 1px black;
}
div.queue__item__qty {
	color: beige;
}
/* border */
.inset {
	border-style: inset;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	transition-delay: 2s;
    visibility: visible;
}
