/* Style The Dropdown Button */
.dropdown__btn {
    
	text-align: center;
    cursor: pointer;
	padding-top: 0.125em;
	padding-bottom: 0.125em;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	display: inline-block;
	text-align: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown__content {
    display: none;
	font-size: 0.5em;
	position: absolute;
	width: 20%;
	left: 40%;
    background-color: #f9f9f9;
	max-height: 75%;
	overflow-y: scroll;
	text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown__content {
    display: block;
}
.dropdown__item {
	display: block;
	background-color: #202020;
	color: white;
	padding: 16px;
}
.dropdown__item:hover {
	background-color: silver;
	color: black;
}
div.button {
	
	font-family: Verdana, Geneva, sans-serif;
	
	padding: 0.25em;
	margin: 0.25em;
	
	border-radius: 8px;
}
/*color modifiers*/
.red {
	color: red;
}
.greenBack {
	background-color: green;
}
.greenBack:active {
	background-color: lime;
}
.redBack {
	background-color: maroon;
}
.redBack:active {
	background-color: red;
}
/* color themes */
.dark {
	background-color: #101010;
	color: white;
}
.dark:hover {
	background-color: silver;
	color: black;
}
.darkAero {
	background: linear-gradient(to right, transparent, #4d4d4d, transparent);
    color: white;
}
.darkAero:hover, .darkAero:focus {
	background: linear-gradient(to right, transparent, gray, transparent);
}

/* font */
.halfEM {
	font-size: 0.5em;
}
.twoEM {
	font-size: 2em;
}
.threeEM {
	font-size: 3em;
}
.fourEM {
	font-size: 4em;
}
.center {
	text-align: center;
}
.shadow {
	text-shadow: 1px 1px 1px black;
}